
•⁠  ⁠{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    
    
    .footer-container {
         font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 30px;
    }
    
    .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    }
    
    .footer-logosection{
        flex-basis: 30.33%;
    }
    .col-md-4 {
    flex-basis: 15.33%;
    }
    
    h4 {
    margin-bottom: 10px;
    }
    
    .footer-description{
        width: 100%;
    }
    ul {
    list-style: none;
    }
    
    li {
    margin-bottom: 10px;
    }
    
    .footer-a {
    text-decoration: none;
    color: #337ab7;
    }
    
    a:hover {
    color: #23527c;
    }
    
    .footer {
    background-color: #f7f7f7;
    color: #777;
    padding: 50px 0;
    }
    
    .copyright {
    text-align: center;
    margin-top: 50px;
    }
    
    /* Responsive Styles */
    @media (max-width: 768px) {

    .container{
        padding: 50px 15px;
    }
    .col-md-4 {
    flex-basis: 10%;
    margin-top: 20px;
    }

    .footer-logosection h2{
        font-size: 20px;
    }

    .footer-logosection{
        flex-basis: 100%;
    }

    .copyright{
        margin-top: 20px;
    }
   
    }
    
    @media (max-width: 480px) {
    .col-md-4 {
    flex-basis: 100%;
    }
    .footer {
    padding: 20px 0;

    }

    
    }
    
    